 html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;/*disables pull to refresh on mobile devices*/
}
canvas {
  display: block;
}

body{
  background: white;
}

main{
  position:fixed;
  width: 100%;
  height:100%;
}

#sketch-container{
  width: 100%;
  height: 100%;
}

#gui-container{
  position: fixed;
  bottom: -220px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 220px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(217, 215, 215, 0.7);
  transition: all .3s;
  text-align: center;
}

#gui-container.open{
  bottom: 0px;
}

/*styled button */
#gui-container .button{
  position: absolute;
  width: 50px;
  height: 30px;
  right: 50%;
  top: -30px;
  transform: translate(50%, 0);
  background-color: rgba(217, 215, 215, 0.7);
  border: transparent;
  /* box-sizing: border-box; */
  border-radius: 10px 10px 0 0;

  color: #383643;
  padding: 0px !important;
  font-size: 12px;
  cursor: pointer;
}
#gui-container .button:hover{
  color: grey;
}

/* #gui-container.open .button{
  transform: scale(-1,1);
} */
#gui-container .holder{
  background-color: aqua;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#gui-container .holder canvas{
  background-color:orange;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#gui-container .holder .qr-holder{
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all .5s;
 }

 .hide{
  opacity: 0;
 }
/*styled slider */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  margin:15px 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #383643;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #383643;
  cursor: pointer;
}

/* Media Queries for responsive design */

/* Custom to match our canvas size */
@media screen and (max-width: 500px) {
  /* none for this one so far, but remember you can add them! */

}